{% extends 'account/_account.html' %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" class="form-inline">
        {{ form.non_field_errors }}
        {{ form|bootstrap }}
        <div class="form-actions">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <input type="submit" value="{% trans 'submit' %}" class="btn">
        </div>
    </form>
{% endblock %}