{% extends "account/_account.html" %}
{% load i18n %}

{% block content %}
    
    {% if blogs %}
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>title</th>
            <th>post count</th>
            <th>comment count</th>
            <th colspan="2">actions</th>
        </tr>
        {% for blog in blogs %}
        <tr>
            <td>{{ blog.id }}</td>
            <td><a href="{% url blogs-blog id=blog.id slug=blog.slug %}">{{ blog.title }}</a></td>
            <td>{{ blog.post_count }}</td>
            <td>{{ blog.comment_count }}</td>
            <td><a href="{% url account-editblog id=blog.id %}">edit</a></td>
            <td><a href="{% url account-deleteblog id=blog.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="alert alert-info">
            {% trans "you don't have any blog" %}            
        </div>
    {% endif %}   
    
{% endblock %}